td{
    vertical-align:middle;
    line-height: 35px;
}
.react-datetime-picker__wrapper{
    border: 1px solid rgb(225, 229, 235);
    border-radius: 4px;
} 
.modal-body{
    max-height: 55vh;
    overflow-y: auto;
}

.card-body{
    overflow-y:auto;
     
}
.tour-picker .modal-body{
    padding: 5px;
}

.trip-booking{
    width: 100%;
    height: 100%;
    position: relative;
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#root{
    position: relative;
    width: 100%;
    height: 100%;
}
#root > div{
    position: relative;
    width: 100%;
    height: 100%;
}

.trip-banner{
    margin: 0px;
    height: 700px;
    background-image:url('https://i.ibb.co/BNB5n0Q/wp5240503-1-2.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}
.company-logo{
    background: #1f4037;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding-left: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 100px;
}
.company-logo >div{
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    width: 80px;
    height: 80px;
}
.company-logo>span{
    padding-right: 200px;
    font-size: 30px;
    color: white;
    text-decoration: dashed;
    font-family: Roboto;
}
html{
    height: auto;
}

.trip-booking .page-subtitle{
    color: white;
    font-weight: bold;
    font-size: 30px;
}